#logo {
    height: 30px;
}

.bg-header {
    background-image: linear-gradient(to right, #e0edfb, white);
}

#sidebar-menu{
    margin-left: -15px;
    margin-right: -15px;
}

.fs-10 {
    font-size: 10px;
}

.mr-15 {
    margin-left: -114px;
}

.carousel_icon {
    margin-left: 70%;
    max-height: 50px;
    max-width: 50px;
}

.service_icon {
    font-size: 20px;
}

.line {
    height: 500px;
}

.list-group-item {
    border: none;
    background-color: transparent;
}

.button {
    margin: auto;
}

.hidden {
    border-right: solid 1px #dee2e6;
}

#balance-card{
    margin-top: 27px;
}

#balance-crypto {
    border-bottom: 1px dotted;
}

.symbol {
    max-width: 20px;
    margin-right: 3px;
}

.balance-hidden {
    display: none;
}

#chartdiv {
    width: 100%;
    max-width: 100%;
    height: 250px;
    max-height: 100%;
}

.shadow{
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 14px -6px;
    border-radius: 5px;
    border: none;
}

@media only screen and (min-width: 769px) {

    .md-hidden {
        display: none;
    }
}

@media only screen and (max-width: 768px) {

    .hidden {
        display: none;
    }
}